!.gitkeep

__pycache__/
.cache/
.venv/
.pytest_cache/
.project

# pyenv
.python-version

# Node
node_modules/

# Intellij
.idea
/*.iml

# VSCode
.vscode

# Mac
.DS_Store

# Project
cov/coverage.xml
cov/pytest.xml
